@media (max-width: 1350px) {
    .lamp_brands {
        width: 360px;
    }
    .catalog_menu .brand_slide:nth-child(5) .lamp_brands, .catalog_menu .brand_slide:nth-child(6) .lamp_brands {
        right: calc(50% - 180px);
    }
    /*.all_filters_main .second_slide span, .container_form_second .second_slide span{*/
        /*font-size: 12px;*/
    /*}*/
    .gallary_pic {
        width: 40%;
    }
    .gallary_headline {
        width: 57%;
    }
}

@media (max-width: 1320px) {
    .the_photo {
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 1305px) {
    .catalog_menu .brand_slide > a {
        padding: 20px 13px 17px;
    }
}

@media (max-width: 1250px) {
    .news_2_img {
        width: 45%;
    }
    .news_2_info h4 {
        width: 55%;
    }
    .prod_delete_btn button {
        margin-left: 30px;
    }
    .order_hist_info p {
        margin-right: 150px;
    }
    .gallary_headline {
        width: 56%;
    }
}

@media (max-width: 1200px) {
    .the_photo {
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 1155px) {
    .news_2_img {
        width: 50%;
    }
    .news_2_info h4 {
        width: 50%;
    }
    header .col-xs-offset-1 {
        margin-left:0;
    }
    .catalog_menu .brand_slide > a {
        padding: 20px 10px 17px;
    }
    .question_input .input_circle {
        left: 65px;
    }
    .order_hist_info p {
        margin-right: 100px;
    }
}

@media (max-width: 1200px) {
    .the_photo {
        width: 260px;
        height: 260px;
    }
    .bucket_part span {
        margin-left: 15px;
    }
}

@media (max-width: 1094px) {
    .bucket_part span {
        margin-left: 13px;
    }
    .prod_delete_btn button {
        margin: 0;
    }
    .prod_delete_btn {
        position: absolute;
        bottom: 30px;
        left: 278px;
    }
    .prod_window .product .buttons input {
        width: 150px;
    }
    .prod_window .product {
        padding-bottom: 60px;

    }
    .catalog_menu .brand_slide > a {
        padding: 20px 5px 17px;
    }
    .news_menu a {
        margin: 0 10px;
    }
    .news_2_img {
        width: 55%;
    }
    .news_2_info h4 {
        width: 45%;
    }
    .the_order span {
        width: 24%;
    }
    .order_hist_info p {
        margin-right: 30px;
    }
}
@media (max-width: 1100px) and (min-width: 992px) {
    .chand_filter h2, .chand_filter h3 {
        font-size: 14px;
    }
    .chand_filter {
        font-size: 14px;
    }
    .price_info p, .height_info p, .width_info p, .deep_info p {
        font-size: 11px;
    }
    .info_filter, .cantainer_form {
        padding: 10px;
    }
    .info_filt_marg {
        margin-left: -30px;
    }
    .height_info p input, .width_info p input, .deep_info p input {
        width: 20%;
    }
}

@media (max-width: 992px) {
    .the_photo {
        width: 380px;
        height: 380px;
    }
    .order_hist_head span {
        width: 20%;
    }
    .order_hist_head span:first-child {
        width: 60%;
    }
    .ohp_info {
        width: 60%;
    }
    .ohp_count, .ohp_price {
        width: 19%;
    }
    .order_process {
        display: block;
    }
    .order_hist_info p {
        margin-right: 0;
    }
    .the_order p {
        font-size: 14px;
    }
    .the_order span {
        width: 23%;
    }
    .private_data, .login_and_pass, .login_and_pass_2 {
        width: unset;
    }
    .prod_window .product .bucket_img {
        display: block;
        margin: auto;
    }
    .prod_window .product .bucket_info {
        display: block;
        padding: 0;
        text-align: center;
    }
    .prod_window .bucket_devider {
        margin: 30px auto;
    }
    .prod_window .buck_price {
        padding: 0;
    }
    .prod_window .buttons {
        display: block;
    }
    .prod_delete_btn button {
        margin: 10px auto;
        display: block;
    }
    .prod_delete_btn {
        position: unset;
        display: block;
    }
    .news_menu a {
        margin:0
    }
    .news_main .container-fluid, .news_2 .container-fluid, .order_page .container-fluid, .private_cab .container-fluid,
    .liked_products .container-fluid, .reviews .container-fluid, .about_page .container-fluid, .contacts_container .container-fluid,
    .orders_page .container-fluid, .orders_hist_page .container-fluid, .delivery_part .container-fluid, .gallary_inside .container-fluid,
    .gallary_main .container-fluid, .not_found .container-fluid {
        padding-left: 15px;
    }
    /*navigation*/
    .nav_over  {
        z-index: 12;
    }
    nav img {
        width: 50px;
        display: inline-block;
        margin-top: 10px;
        margin-left: 122px;
        vertical-align: top;
    }
    nav p {
        display: inline-block;
        font-size: 16px;
        margin-top: 12px;
        margin-left: 27px;
    }
    nav .nav_devider {
        margin: 10px auto;
    }
    .nav_transform {
        /*width: 0;*/
        margin-left: -290px;
    }
    .nav_btn {
        background: black;
    }
    .contacts_info .work_hours p:nth-child(2) {
        margin-left: 0;
    }
    .phone_numbers, .work_hours, .email_info, .link_info {
        width: 235px;
        margin: 40px auto;
        text-align: center;
    }
    .contacts_info {
        padding-left: 0;
    }
    .question_input .input_circle {
        left: 100px;
    }
    .ask_question {
        border-left: none;
    }
    /*.liked_products .container-fluid, .reviews .container-fluid, .about_page .container-fluid, .contacts_container .container-fluid {*/
        /*padding-left: 15px;*/
    /*}*/
    .about_page_info p:last-child {
        margin-bottom: 0px;
    }
    /*.about_page .container-fluid {*/
        /*padding-left: 15px;*/
    /*}*/
    .making_light {
        margin:50px auto;
    }
    .big_pic {
        height: 300px;
    }
    .chand_name {
        margin-top: 30px;
    }
    .catalog_head .container-fluid, .bread_crumbs_cont .container-fluid, .bread_crumbs_cont .container-fluid {
        padding-left: 15px;
    }
    .f_a_q .container-fluid {
        padding-left: 15px;
    }
    .mobile_filter {
        display: none;
        position: absolute;
        z-index: 3;
        top: 134px;
        width: 310px;
        left: calc(50% - 148px);
    }
    .chand_filter {
        border: 3px solid #ffc63a;
        background: white;
    }
    .filter_button button {
        display: block;
    }
    .bucket_part {
        margin-top: 52px;
    }
    .lamp_brands {
        width: 240px !important;
        position: relative;
        top: 0px;
        left: 30px;
    }
    .lamp_brands > a > img {
        display: none;
    }
    .lamp_brands span {
        height: unset;
        background: white;
    }
    .lamp_brands b {
        display: block;
    }
    .bucket_part span {
        margin-left: 10px;
    }
    header .col-xs-offset-1 {
        margin-left:8.3333333%;
    }
    .questions_and_answers {
        background: url('../img/qustions/back_media_1.png') top center no-repeat;
    }
    .about .shine_world .shine_sircle {
        margin: 30px auto;
    }
    .about .info_about h4 {
        text-align: center;
        margin: 30px 0;
    }
    .about .info_about a {
        margin: 30px auto;
    }
    footer .contacts {
        padding:10px;
    }
    footer .contacts h3 {
        margin: 10px;
    }
    footer .catalog, footer .footer_list_1, footer .footer_list_2 {
        margin: 10px 0;
    }
    footer .search_chand input {
        width: 90%;
    }
    footer .catalog:before {
        left: -10px;
    }
    footer .catalog:after {
        right: -10px;
    }
    .questions_and_answers .information .qustions, .questions_and_answers .information .payment, .questions_and_answers .information .you_of_us {
        margin: 30px 0;
    }
    .questions_and_answers .information {
        margin: 0;
    }
    .main_container .container-fluid {
        padding-left: 15px;
    }
    .our_novelty .owl_cfg {
        padding-left: 0;
    }
    .ques_cont_0 {
        /*display: block;*/
        opacity: 1;
        transform: translate(0, 0);
    }
    .ques_cont_1 {
        /*display: block;*/
        opacity: 1;
        transform: translate(0, 0);
    }

    .ques_cont_2 {
        /*display: block;*/
        opacity: 1;
        transform: translate(0, 0);
    }

    .ques_cont_3{
        /*display: block;*/
        opacity: 1;
        transform: translate(0, 0);
    }

    .ques_cont_2_del {
        /*display: block;*/
        opacity: 1;
        transform: translate(0, 0);
    }

    .ques_cont_3_del {
        /*display: block;*/
        opacity: 1;
        transform: translate(0, 0);
    }
    .catalog_container .container-fluid {
        padding-left: 15px;
    }
    .catalog_head {
        background-size: cover;
    }
    .catalog_search input {
        margin: auto;
        display: block;
    }
    .catalog_search:after {
        right: 0px;
    }
    .catalog_menu button {
        display: block;
    }
    .catalog_menu .brand_slide > a {
        display: block;
        width:100px;
        margin: auto;
        padding: 20px 0 17px;
        transition: .5s;
    }
    .catalog_menu .brand_slide {
        display: block !important;
    }
    .catalog_menu_off {
        display: none;
        position: absolute;
        background: rgba(0,0,0,.9);
        width: 300px;
        margin: auto;
        left: 50%;
        margin-left: -150px;
        z-index: 2;
    }
    .catalog_menu span:after {
        content: none;
    }
    .catalog_search input {
        width: 80%;
    }
    .feedback_img_load i {
        left: -45px;
    }
    .feedback_img_load span {
        left: -11px;
    }
}
@media (max-width: 870px) {
    .bucket_part span {
        margin-left: 0px;
    }
    .the_photo {
        width: 300px;
        height: 300px;
    }
    .news_2_img {
        width: 60%;
    }
    .news_2_info h4 {
        width: 40%;
    }
    .gallary_headline {
        width: 55%;
    }
}

@media (max-width: 840px) {
    .order_methods span {
        display: block !important;
    }
    .order_methods_info {
        display: none;
    }
}

@media (max-width: 820px) {
    .buck_price {
        display: block;
        padding-left: 0;
    }
    .news_2_img {
        width: 65%;
    }
    .news_2_info h4 {
        width: 35%;
    }
}

@media (max-width: 768px) {
    .the_review input {
        width: 100%;
    }
    .the_review .input_circle {
        left: -10px;
    }
    .gallary_pic {
        width: 380px;
        float: unset;
        margin: auto;
    }
    .gallary_logo img {
        margin: 10px auto;
        display: block;
    }
    .gallary_headline {
        width: 100%;
        float: unset;
        text-align: center;
    }
    .gallary_devider {
        margin: 30px auto 0;
    }
    .prod_window .product .buttons input {
        width: 90px;
    }
    .prod_delete_btn button {
        width: 175px;
    }
    .news_2_info h4 {
        float: none;
        width: unset !important;
        text-align: center;
        margin: 30px 0;
    }
    .news_2_img {
        float: none;
        margin: 10px auto;
        width: 350px !important;
    }
    .news_menu {
        text-align: center;
    }
    .news_menu a {
        /*display: block;*/
    }
    .media_news_menu {display: block}
    .feedback_mark p {
        display: block;
        margin: 30px;
    }
    .question_input .input_circle {
        left: 70px;
    }
    footer .search_chand input {
        width: 80%;
    }
    footer .footer_list_1, footer .footer_list_2, footer .catalog {
        text-align: center;
    }
    footer .catalog ul {
        display: block;
    }
    footer .media_colums {
        display: block;
        float: none;
    }
    footer .catalog:before, footer .catalog:after {
        content:none;
    }
    footer {
        background: url("../img/footer/media_back.jpg") top no-repeat;
        background-size:cover ;
    }
    .bucket_part {
        margin: 30px auto;
        width: 240px;
        float: none;
    }
    .catalog_headline .col-xs-12 {
        padding: 0;
    }
    .bucket_part .bucket:after {
        padding-left: 0px;
    }
    /*.catalog_search input {*/
        /*display: none;*/
    /*}*/
    .catalog_search_icon {
        top: 0;
        right: 0;
        padding: 20px;
    }
    .catalog_search input {
        position: absolute;
        top: 5px;
        right: calc(50% - 75px);
        padding: 5px;
        width:150px;
    }
    .numeration a {
        height: 25px;
        width: 25px;
        padding-top: 3px;
    }
    .product .bucket_img {
        display: block;
        margin: auto;
    }
    .product .bucket_info {
        padding-left:0;
    }
    .product {text-align: center}
    .bucket_devider {
        margin: 30px auto;
    }
    .buttons input {
        width: 115px;
    }
    .checkout_button {
        display: block;
        padding-left: 0;
    }
    .checkout_button button{
        margin: 20px auto;
    }
}

@media (max-width: 650px) {
    .ohp_info {
        display: block;
        width: 100%;
    }
    .ohp_count, .ohp_price {
        margin: 30px 0;
        width: 49%;
        text-align: center;
    }
    .order_hist_head {
        display: none;
    }
    .orders_headline {
        display: none;
    }
    .the_order span {
        display: block !important;
        width: 100% !important;
        text-align: center;
    }
    .the_order .the_order_process {
        display: block;
        margin: auto;
    }
    .order_info .input_circle {
        left: 30px;
    }
    .feedback_container .input_circle {
        left: 40px;
    }
    .question_input .input_circle {
        left: 50px;
    }
    .modal_window .input_container .input_circle {
        left: 7%;
    }
    .modal_window .modal_headline {
        margin: 20px 0;
    }
    .modal_window .input_container {
        margin-bottom: 15px;
    }
    .modal_window p a {
        display: block;
        margin: 5px 0;
    }
    .modal_window p {
        margin-top: 30px;
    }
    .modal_window .modal_headline h1 {
        font: 28px "NautilusPompiliusRegular", Arial;
    }
    .close_modal {
        top:10px;
        right: 10px;
    }
    .small_pic {
        height: 70px;
    }
    #sync2 .item {
        margin: 0 5px;
    }
    #sync1 .item {
        margin: 0 5px;
    }
    .big_pic {
        height: 350px;
    }
    .char_name p span {
        display: block;
    }
    .char_info {
        display: none;
    }
    .char_name {
        width: 100%;
    }
    .char_name p {
        border-right: none;
    }
}

@media (max-width: 600px) {

}

@media (max-width: 550px) {
    .gallary_pic {
        width: 200px;
        height: 200px;
    }
    .order_hist_info span {
        display: block;
    }
    .order_info .input_circle {
        left: 20px;
    }
    .news_2_info .news_date {
        top: 0;
        left: unset;
        right: 0;
    }
    .question_input .input_circle {
        left: 40px;
    }
    .phone_numbers:before, .work_hours:before, .email_info:before, .link_info:before {
        top: -60px;
        left: calc(50% - 26px);
    }
    .phone_numbers, .work_hours, .email_info, .link_info {
        margin: 80px auto;
    }
    .comment_headline {
        text-align: center;
        display: block;
    }
    .comment_headline p {
        margin-left: 0;
         padding-left: 0;
         border-left: unset;
        display: block;
    }
    .who_comment {
        text-align: center;
    }
    .comment_info {
        text-align: justify;
    }
    .review_image_over {
        position: unset;
        display: block;
        margin: auto;
    }
    .comment {
        padding-left: 15px;
    }
    .review_image {
        margin: 30px auto;
        display: block;
    }
    .media_contacts {
        width: 100%;
    }
    .media_search {
        width:100%;
    }
    footer .search_chand input {
        width: 80%;
        display: block;
        margin: auto;
        position: relative;
    }
    footer .search_chand a {
        position: absolute;
        top: 0;
        right: 35px;
    }
    footer .search_chand {
        padding: 10px;
    }
    .about .shine_world .shine_sircle {
        height: 250px;
        width: 250px;
        padding: 35px;
    }
    .about .shine_world .shine_sircle:before {
        left: 115px;
    }
    .about .shine_world .shine_sircle:after {
        left: 115px;
    }
    .modal_window p span, .modal_autorize p span, .modal_remember p span {
        display: block;
        margin-bottom: 10px;
    }
    .modal_window p .dev_dev, .modal_autorize_window p .dev_dev, .modal_remember_window p .dev_dev {
        display: none;
    }
    .not_found_img img {
        width: 250px;
    }
}

@media (max-width: 402px) {
    .gallery_read_more a {
        width: 200px;
        left: calc(50% - 100px);
    }
    .the_photo {
        width: 200px;
        height: 200px;
    }
    .ohp_img_photo {
        margin: auto;
        display: block;
    }
    .ohp_info_inside {
        display: block;
        margin: auto;
        width: 150px;
    }
    .ohp_count, .ohp_price {
        display: block;
        width: 100%;
        margin: 10px auto;
    }
    .order_info .input_circle {
        left: 10px;
    }
    .news_2_info h4 {
        font-size: 24px;
    }
    .news_2_img img {
        width: 200px;
        margin: auto;
        display: block;
    }
    .news_2_img {
        width: 200px !important;
        margin: auto;
        display: block;
    }
    .feedback_mark a {
        margin: 0;
    }
    .question_input .input_circle {
        left: 20px;
    }
    .big_pic {
        background-size: cover;
    }
    .chand_faq:before {
        width: 50px;
        height: 50px;
        padding-left: 11px;
        padding-top: 3px;
    }
    .text_indicator {
        left: -15px;
    }
    .chand_faq {
        padding: 10px 10px 10px 60px;
    }
    .same_goods {
        font: 18px "Century Gothic Regular", Arial;
    }
    .same_goods span {
        font: 18px "Century Gothic Bold", Arial;
    }
    .making_light {
        height: 250px;
        width: 250px;
        padding: 67px 0px 0 24px;
    }
    .making_light:before {
        top: 20px;
        left: 115px;
    }
    .making_light:after {
        bottom: 35px;
        left: 115px;
    }
}